APP_PORT=8080
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/v1/auth/google/callback
GOOGLE_DRIVE_REDIRECT_URL=http://localhost:8080/v1/auth/google/drive/callback
JWT_SECRET=
CREEM_API_KEY=
CREEM_WEBHOOK_SECRET=
CREEM_BASE_URL=https://test-api.creem.io
OPENAI_API_KEY=
DRIVE_TOKEN_ENCRYPT_KEY=
DRIVE_WEBHOOK_TOKEN=
FRONTEND_URL=https://getaced.io
WEBHOOK_BASE_URL=https://api.getaced.io
