openapi: 3.0.0
info:
  title: api.getaced.io
  description: >-
    Base URL: https://api.getaced.io/v1


    All protected routes need: Authorization: Bearer <token>


    Flow: Sign in → Exchange Code → Checkout (starts trial) → Link Drive →
    Chrome Setup → Set Watch Folder → Drop files


    Trials handled by Creem. 30 uses/month. Supported files: PNG, HTML.
  version: 1.0.0
servers:
  - url: https://api.getaced.io/v1
components:
  securitySchemes:
    noauthAuth:
      type: http
      scheme: noauth
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Auth
    description: >-
      Two-step auth flow:

      1. Open Google Sign In URL in browser

      2. After redirect, grab the `code` from the URL and exchange it for a JWT
      via POST /auth/exchange
  - name: Payment
    description: >-
      Required before onboarding. Creem handles the 1-week free trial — user
      enters payment info but isn't charged for 7 days.
  - name: Billing
    description: >-
      Subscription management via Creem customer portal. Returns a magic link
      that redirects users to manage subscriptions, payment methods, and billing
      history. No active subscription required — works for canceled/expired users
      too.
  - name: Onboarding
    description: >-
      Requires active subscription or trial (402 if not).


      Steps: 1. Link Drive → 2. Chrome Setup → 3. Set Watch Folder
  - name: User
  - name: Settings
    description: Requires active subscription or trial (402 if not).
  - name: Usage & Activity
    description: Requires active subscription or trial (402 if not).
  - name: Webhooks
    description: >-
      Called by external services (Creem, Google Drive), not by the frontend.
      Documented for reference.
paths:
  /health:
    get:
      tags:
        - Auth
      summary: Health Check
      description: |-
        Returns server status and uptime.

        Response:
        {
          "status": "ok",
          "uptime": "3d 14h 22m"
        }
      security:
        - noauthAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /auth/google:
    get:
      tags:
        - Auth
      summary: 1. Google Sign In (open in browser)
      description: >-
        Redirects to Google consent screen. After login redirects to:

        {FRONTEND_URL}/auth/callback?code=<auth_code>


        Open in browser. Copy the `code` from the redirect URL.


        The code is single-use and expires in 30 seconds. Exchange it for a JWT
        using POST /auth/exchange.
      security:
        - noauthAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /auth/exchange:
    post:
      tags:
        - Auth
      summary: 2. Exchange Auth Code for JWT
      description: >-
        Exchanges a short-lived auth code for a JWT token.


        The code comes from the Google Sign In redirect URL (?code=xxx). It is
        single-use and expires in 30 seconds.


        Response:

        {
          "token": "eyJhbGciOiJIUzI1NiIs..."
        }


        Set the token as the jwt_token collection variable.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n  \"code\": \"PASTE_AUTH_CODE_HERE\"\n}"'
      security:
        - noauthAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /checkout:
    post:
      tags:
        - Payment
      summary: Create Checkout
      description: |-
        Creates a Creem checkout session for monthly or yearly plan. Pass the appropriate product_id.

        success_url must start with the configured frontend domain.

        Creem handles the 1-week free trial — user enters payment info but isn't charged for 7 days.

        Response: {"checkout_url": "https://checkout.creem.io/..."}
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"product_id\": \"{{yearly_product_id}}\",\n 
                \"success_url\":
                \"https://getaced.io/dashboard?payment=success\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /billing:
    post:
      tags:
        - Billing
      summary: Customer Portal
      description: |-
        Returns a Creem customer portal magic link. The user can manage their subscription, update payment methods, and view billing history.

        No active subscription required — users with canceled or expired subscriptions can still access the portal.

        Requires a Creem customer ID (set after first checkout).

        Response: {"portal_url": "https://creem.io/my-orders/login/xxx"}

        400 if user has no subscription history.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /auth/google/drive:
    get:
      tags:
        - Onboarding
      summary: 1. Get Drive Auth URL
      description: >-
        Returns Google Drive OAuth URL. User must be on step
        OnboardingStepDrive.


        Requires active subscription or trial (402 if not).


        Response: {"url": "https://accounts.google.com/..."}


        Open URL in browser. After consent, redirects to
        {FRONTEND_URL}/onboarding?step=chrome


        Prevents duplicate Drive accounts — if this Drive is already linked to
        another user, returns error.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /onboarding/chrome:
    post:
      tags:
        - Onboarding
      summary: 2. Create Chrome Setup Session
      description: >-
        Creates Chrome container with VNC. User must be on step
        OnboardingStepChrome.


        Requires active subscription or trial (402 if not).


        Response: {"session_url": "https://api.getaced.io/v1/s/abc123"}


        Open session_url in browser/iframe. 5 min window. User signs into Google
        in Chrome.


        Returns 500 if VNC fails to start within 15 seconds.


        If container already exists (retry), it deletes the old one and creates
        fresh.
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /onboarding/complete:
    post:
      tags:
        - Onboarding
      summary: 3. Complete Chrome Setup
      description: |-
        Advances onboarding from Chrome step to Watch Folder step. Call after Chrome setup session.

        Requires active subscription or trial (402 if not).

        Response: {"onboarding_step": "OnboardingStepWatchFolder"}
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /onboarding/watch-folder:
    post:
      tags:
        - Onboarding
      summary: 4. Set Watch Folder & Complete Onboarding
      description: |-
        Sets the Drive folder to monitor and completes onboarding. User must be on the WatchFolder step.

        Requires active subscription or trial (402 if not).

        folder_id from: https://drive.google.com/drive/folders/<THIS_PART>

        Validates the folder exists and is accessible in Google Drive. Registers Drive push notifications.

        Response: {"onboarding_step": "complete", "watch_folder_id": "..."}

        400 if folder not found, Drive not connected, or wrong onboarding step.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n  \"folder_id\": \"PASTE_DRIVE_FOLDER_ID_HERE\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /me:
    get:
      tags:
        - User
      summary: Get Me
      description: |-
        Full user profile.

        Response:
        {
          "id": 1,
          "email": "student@gmail.com",
          "name": "John Doe",
          "avatar_url": "https://lh3.googleusercontent.com/...",
          "onboarding_step": "complete" | "OnboardingStepDrive" | "OnboardingStepChrome" | "OnboardingStepWatchFolder",
          "subscription_status": "trialing" | "active" | "canceled" | "past_due" | "expired" | "",
          "subscription_id": "sub_xxx",
          "has_drive_connected": true,
          "watch_folder_id": "1aBcDeFg...",
          "bookmark_folder_name": "school work",
          "usage_count": 5,
          "usage_limit": 30,
          "is_trialing": false,
          "is_subscription_active": true,
          "is_active": true
        }

        Use onboarding_step to route user to correct page.
        Use is_active to gate features.

        Full flow check:
        1. If subscription_status is empty → show checkout
        2. If onboarding_step is OnboardingStepDrive → show Drive linking
        3. If onboarding_step is OnboardingStepChrome → show Chrome setup
        4. If onboarding_step is OnboardingStepWatchFolder → show watch folder picker
        5. If onboarding_step is complete → show dashboard
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /account:
    delete:
      tags:
        - User
      summary: Delete Account
      description: >-
        Permanently deletes user, their Chrome container, Drive watch, and all
        processed files.


        Response: {"message": "account deleted"}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /settings:
    get:
      tags:
        - Settings
      summary: Get Settings
      description: |-
        Response:
        {
          "watch_folder_id": "1aBcDeFg...",
          "bookmark_folder_name": "school work",
          "custom_prompt": "",
          "has_drive_connected": true
        }
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /settings/watch-folder:
    put:
      tags:
        - Settings
      summary: Set Watch Folder
      description: >-
        Sets which Drive folder to monitor. Also registers Drive push
        notifications.


        folder_id from: https://drive.google.com/drive/folders/<THIS_PART>


        Folder ID must be alphanumeric (with hyphens/underscores).


        Validates folder exists.


        Response: {"watch_folder_id": "..."}


        400 if folder not found or Drive not connected.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n  \"folder_id\": \"PASTE_DRIVE_FOLDER_ID_HERE\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /settings/bookmark-folder:
    put:
      tags:
        - Settings
      summary: Set Bookmark Folder
      description: >-
        Sets Chrome bookmark folder name where answers appear. Default: "school
        work".


        Max 100 characters.


        Response: {"bookmark_folder_name": "..."}
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n  \"folder_name\": \"school work\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /settings/prompt:
    put:
      tags:
        - Settings
      summary: Set Custom Prompt
      description: |-
        Appended to AI system prompt. Send empty string to clear.

        Max 500 characters.

        Response: {"custom_prompt": "..."}
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"custom_prompt\": \"This is AP Chemistry, use proper
                notation\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /usage:
    get:
      tags:
        - Usage & Activity
      summary: Get Usage
      description: |-
        Usage stats with daily breakdown for last 30 days.

        Response:
        {
          "usage_count": 5,
          "usage_limit": 30,
          "usage_reset_at": "2026-04-15T00:00:00Z",
          "subscription_status": "active",
          "is_trialing": false,
          "is_subscription_active": true,
          "is_active": true,
          "daily_usage": [
            {"date": "2026-02-16", "count": 0},
            {"date": "2026-02-17", "count": 3},
            ...
          ]
        }
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /activity:
    get:
      tags:
        - Usage & Activity
      summary: Get Activity
      description: |-
        Last 20 processed files with answers.

        Response:
        {
          "activity": [
            {
              "file_name": "Screenshot.png",
              "answer_count": 5,
              "answers": [{"number": 1, "answer": "A"}, ...],
              "processed_at": "2026-03-15T22:49:20Z"
            }
          ]
        }
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /webhooks/creem:
    post:
      tags:
        - Webhooks
      summary: Creem Payment Webhook
      description: >-
        Called by Creem on payment events. Verified via HMAC-SHA256 signature.


        Events handled:

        - checkout.completed — activates subscription

        - subscription.active / subscription.paid — marks active

        - subscription.trialing — marks trialing

        - subscription.canceled — marks canceled, stops Drive watch, deletes
        container

        - subscription.past_due — marks past_due

        - subscription.expired — marks expired, stops Drive watch, deletes
        container


        Idempotent: uses Creem event ID to prevent double-processing.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"id\": \"evt_xxx\",\n  \"eventType\":
                \"checkout.completed\",\n  \"object\": { ... }\n}"
      security:
        - noauthAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: creem-signature
          in: header
          schema:
            type: string
          example: HMAC_SHA256_SIGNATURE
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /webhooks/drive:
    post:
      tags:
        - Webhooks
      summary: Drive Push Notification
      description: >-
        Called by Google Drive when files change in a watched folder.


        Validated via channel token (timing-safe comparison).


        Enqueues user for debounced processing (2s delay to batch rapid
        changes).
      requestBody:
        content: {}
      security:
        - noauthAuth: []
      parameters:
        - name: X-Goog-Channel-ID
          in: header
          schema:
            type: string
          example: channel-uuid
        - name: X-Goog-Resource-State
          in: header
          schema:
            type: string
          example: change
        - name: X-Goog-Channel-Token
          in: header
          schema:
            type: string
          example: DRIVE_WEBHOOK_TOKEN
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
